---
titleTag: About Nautilus Integrated Solutions
pageName: About
description: Nautilus Integrated Solutions strives to be a preferred supplier to the United States Navy's Nuclear and Submarine fleets.
pageClass: aboutCap
pageSlug: about-us/
layout: 'base.njk'
---

<section class="container contentLeadIn">
  <div class="row justify-content-center">
	<div class="col-md-7 text-center pt-5 pb-4 py-md-5">
	  <h1 class="mb-4">We are proud of the companies who place their trust in us.</h1>
	  <p>Nautilus Integrated Solutions (NIS) is able to successfully meet the needs of the most demanding customers in the world, including the U.S. Military, the U.S. Navy Nuclear Submarine program, and numerous demanding (and satisfied) commercial clients. For over 50 years, we've been crafting components that simply cannot fail. Our total of 119,000 square feet of facilities and 180 employees are located on the East coast — giving easy access to shipbuilders in the region.</p>
	</div>
  </div>
  <div class="row">
	  <div class="col">
		  <hr class="mainSep" size="6">
	  </div>
  </div>
</section>

<section class="container contentLeadIn">
  <div class="row justify-content-center">
	<div class="col-md-6 text-center pt-5 pb-4 py-md-5">
	  <h1 class="mb-4">Our nuclear-powered portfolio</h1>
	  <p>We deliver essential components to the U.S Navy’s Virginia and Columbia class nuclear submarines, as well as the Navy’s Ford class aircraft carriers.</p>
	</div>
  </div>
  <div class="row">
	  <div class="col-md-6 pe-md-1 mb-4 mb-md-0">
		  <picture>
			<source srcset="/images/NIS_About_Portfolio.webp" type="image/webp" />
			<img src="/images/NIS_About_Portfolio.jpg" alt="Portfolio Large and Small Assemblies and Parts" class="img-fluid" width="1000" height="600"  />
		  </picture>
	  </div>
	  <div class="col-md-5 offset-md-1">
		  <h3>Large assemblies</h3>
		  <ul>
			  <li>Main Propulsion Unit (MPU) components</li>
			  <li>Ship Service Turbine Generator (SSTG) components</li>
			  <li>Retractable Bow Plane components</li>
			  <li>Hinge assemblies</li>
			  <li>Hydraulic accumulators</li>
		  </ul>
		  <h3>Small assemblies &amp; parts</h3>
			<ul>
				<li>Weapons handling</li>
				<li>Mounts and hangers</li>
				<li>Rammers</li>
				<li>Manifolds</li>
				<li>Various pumps and valves</li>
			</ul>
	  </div>
  </div>
</section>
<section class="our_promise py-5 mt-5">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-md-6">
				<h2 class="text-white mb-3">Our promise</h2>
				<p class="text-white">Nautilus Integrated Solutions strives to be a preferred supplier to the United States Navy’s Nuclear and Submarine fleets. We do this with our unrelenting commitment to precision, underscored by the full understanding that our casting and machining components have no room for failure. We fully understand that lives depend on the performance of the components and assemblies we produce.</p>
			</div>
			<div class="col-md-6 ">
				<div class="promises_listed pt-4 pt-md-5 px-3 px-md-5 pb-1 pb-md-4">
					<ol>
						<li class="text-white">We are a single point of contact and vertically integrated from design to delivery — from shop to ship.</li>
						<li class="text-white">We are committed to quality, on-time delivery, and excellent customer service.</li>
						<li class="text-white">We stand ready to serve you and our country.</li>
					</ol>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="container contentLeadIn">
  <div class="row justify-content-center">
	<div class="col-md-7 text-center pt-5">
	  <h1 class="mb-4">Our leadership team</h1>
	  <p>Our management team has deep experience interacting with Department of Defense programs. This experience allows us to seamlessly integrate with prime contractors and has resulted in long-standing partnerships with some of the United States’ best-known companies.</p>
	</div>
  </div>
  <div class="row mt-3 mb-5">
	  <div class="col">
		  <hr class="mainSep" size="6">
	  </div>
  </div>
  <div class="row justify-content-center pb-5">
	  <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
		<a href="#" data-bs-toggle="modal" data-bs-target="#about-modal-tim-g" class="aboutStaff about-tim-g">
		  <div class="aboutStaffcta text-right pt-3 pe-3">
			<h4>Read my bio <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="arrow-alt-circle-right" class="asctaar" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M256 8c137 0 248 111 248 248S393 504 256 504 8 393 8 256 119 8 256 8zM140 300h116v70.9c0 10.7 13 16.1 20.5 8.5l114.3-114.9c4.7-4.7 4.7-12.2 0-16.9l-114.3-115c-7.6-7.6-20.5-2.2-20.5 8.5V212H140c-6.6 0-12 5.4-12 12v64c0 6.6 5.4 12 12 12z"></path></svg></h4>
		  </div>
		  <div class="aboutStaffTitle">
			<h4>Tim Grass</h4>
			<h5>President &amp; CEO</h5>
		  </div>
		</a>
		<!-- Modal -->
		<div class="modal fade" id="about-modal-tim-g" tabindex="-1" aria-labelledby="aboutLabel0" aria-hidden="true">
		  <div class="modal-dialog">
			<div class="modal-content">
			  <div class="modal-header">
				<h5 class="modal-title" id="aboutLabel0">Tim Grass</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			  </div>
			  <div class="modal-body">
				<p>Tim Grass is an accomplished manufacturing executive who joined Nautilus Integrated Solutions as President and CEO in early 2023. Mr. Grass spent the majority of his career with Marmon/Berkshire Hathaway where he was the President of Marmon Aerospace &amp; Defense Group which provides harsh environment connectivity solutions for most defense applications, with a heavy Navy emphasis. He delivered significant growth in these businesses through operational excellence, product and service differentiation, acquisition and developing high-performance teams. Tim earned a Bachelor of Science in Mechanical Engineering from the University of Maine and went on to complete a Master of Science in Mechanical Engineering. He also completed Marmon’s Executive Leadership Program.</p>
			  </div>
			</div>
		  </div>
		</div>
	  </div>
	<div class="col-lg-3 col-md-4 col-sm-6 mb-4">
	  <a href="#" data-bs-toggle="modal" data-bs-target="#about-modal-michael-l" class="aboutStaff about-michael-l">
		<div class="aboutStaffcta text-right pt-3 pe-3">
		  <h4>Read my bio <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="arrow-alt-circle-right" class="asctaar" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M256 8c137 0 248 111 248 248S393 504 256 504 8 393 8 256 119 8 256 8zM140 300h116v70.9c0 10.7 13 16.1 20.5 8.5l114.3-114.9c4.7-4.7 4.7-12.2 0-16.9l-114.3-115c-7.6-7.6-20.5-2.2-20.5 8.5V212H140c-6.6 0-12 5.4-12 12v64c0 6.6 5.4 12 12 12z"></path></svg></h4>
		</div>
		<div class="aboutStaffTitle">
		  <h4>Michael LaFleur</h4>
		  <h5>Chief Financial Officer</h5>
		</div>
	  </a>
	  <!-- Modal -->
	  <div class="modal fade" id="about-modal-michael-l" tabindex="-1" aria-labelledby="aboutLabel3" aria-hidden="true">
		<div class="modal-dialog">
		  <div class="modal-content">
			<div class="modal-header">
			  <h5 class="modal-title" id="aboutLabel3">Michael LaFleur</h5>
			  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
			  <p>A Finance professional with over 28 years of experience in public and private firms in North America, Europe and India. Mike started his career as an auditor with Price Waterhouse before spending 24 years with Kaman Aerospace Corporation in various assignments. He has a Bachelor of Business Administration from Western New England College, an MBA from Rensellaer Polytechnic Institute. He is also a Certified Public Accountant and Project Management Professional.</p>
			</div>
		  </div>
		</div>
	  </div>
	</div>
	
</section>



{% include './_includes/raq.njk' %}