---
titleTag: Assembly
pageName: Assembly
description: Assembly
pageClass: capabilitySingle assemblyHeader
pageSlug: assembly/
layout: 'base.njk'
---

<section class="container pt-5 pb-3">
  <div class="row justify-content-center pt-0 pt-md-4">
  <div class="col-md-6 col-lg-4 pe-4">
      <h2>Where it all comes together.</h2>
      <hr class="mainSep my-4" size="6">
      <p>In addition to our precision machining, casting and testing skills, we deliver complex assemblies directly for ship installation.</p>
    </div>
    <div class="col-md-6 col-lg-5 offset-lg-1 mt-4 mt-md-0">
      <h5 class="mb-3">Those assemblies include</h5>
      <ul>
        <li>Hydraulic Accumulators</li>
        <li>HEI Linkage Assemblies</li>
        <li>Weapons Handline</li>
        <li>Rammer Panel Assemblies</li>
        <li>Retractable Bow Plane Locking Assemblies</li>
        <li>Mounts and Hangers</li>
      </ul>
    </div>
  </div>
</section>

{% include './_includes/raq.njk' %}