---
titleTag: Career Opportunities at Nathan Airchime | South Windham, CT
pageName: Careers
description: We are always looking for talented people to join our team with manufacturing experience - CAD, CAM, CNC Machining and CMM Metrology.
pageClass: careersCap
pageSlug: careers/
layout: 'base.njk'
---
<section class="container contentLeadIn">
<div class="row">
  <div class="col-md-8 offset-md-2 text-center py-5">
      <h1 class="mb-3">Come work for the undisputed market leader.</h1>
      <p>Nathan Airchime is proud of our status as the nation's premier supplier of locomotive air horns. We have earned that status through an unwavering dedication to precision, and putting the customer first. We offer you the opportunity to grow your career while working for a company that makes things that matter.</p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <hr class="mainSep" size="4" />
    </div>
  </div>
</section>

<section class="container pb-5">
  <div class="row">
    <div class="col-lg-10 offset-lg-1 col-md-12 capsItemsdt mt-5">
  
      <div class="d-flex align-items-start">
        <div class="nav flex-column nav-pills me-5" id="v-pills-tab" role="tablist" aria-orientation="vertical">
          <button class="nav-link active mb-2 py-3" id="v-pills-why-tab" data-bs-toggle="pill" data-bs-target="#v-pills-why" type="button" role="tab" aria-controls="v-pills-why" aria-selected="true"><i class="capArrow"></i>Why Nathan Airchime?</button>
          <button class="nav-link mb-2 py-3" id="v-pills-upgrading-tab" data-bs-toggle="pill" data-bs-target="#v-pills-upgrading" type="button" role="tab" aria-controls="v-pills-upgrading" aria-selected="false"><i class="capArrow"></i>Our Values</button>
          <button class="nav-link mb-2 py-3" id="v-pills-ndt-tab" data-bs-toggle="pill" data-bs-target="#v-pills-ndt" type="button" role="tab" aria-controls="v-pills-ndt" aria-selected="false"><i class="capArrow"></i>Culture</button>
          <button class="nav-link mb-2 py-3" id="v-pills-machining-tab" data-bs-toggle="pill" data-bs-target="#v-pills-machining" type="button" role="tab" aria-controls="v-pills-machining" aria-selected="false"><i class="capArrow"></i>Training &amp; Mentorship</button>
          <button class="nav-link mb-2 py-3" id="v-pills-materials-tab" data-bs-toggle="pill" data-bs-target="#v-pills-materials" type="button" role="tab" aria-controls="v-pills-materials" aria-selected="false"><i class="capArrow"></i>Benefits</button>
        </div>
        <div class="tab-content" id="v-pills-tabContent">
          <div class="tab-pane fade show active" id="v-pills-why" role="tabpanel" aria-labelledby="v-pills-why-tab">
            <h3>Why Nathan Airchime?</h3>
            <p>Nathan Airchime is a company with a long history of success, an outstanding present, and a bright future. We are America’s largest producer of Airhorns &mdash; a critical component of railroad safety. We pride ourselves on providing you with opportunities for personal and professional growth and satisfaction. We encourage continuous improvement &mdash; for our products and our employees.</p>
            <p>At Nathan Airchime, we value a diverse, inclusive workforce and we provide equal employment opportunity for all applicants and employees. All qualified applicants for employment will be considered without regard to an individual’s race, color, sex, gender identity, gender expression, religion, age, national origin or ancestry, citizenship, physical or mental disability, medical condition, family care status, marital status, domestic partner status, sexual orientation, genetic information, military or veteran status, or any other basis protected by federal, state or local laws. If you are unable to submit your application because of incompatible assistive technology or a disability, please contact us at <a href="hr@nautilus.com" title="Contact HR" target="_blank">hr@nautilus.com</a>. Nathan Airchime will reasonably accommodate qualified individuals with disabilities to the extent required by applicable law.</p>
          </div>
          <div class="tab-pane fade" id="v-pills-upgrading" role="tabpanel" aria-labelledby="v-pills-upgrading-tab">
            <h3>Our Values</h3>
            <p>At Nathan Airchime, we're proud of our ability to provide precision products to customers with the highest level of expectations. We understand their importance – and to your contribution to their excellence.</p>
          </div>
          <div class="tab-pane fade" id="v-pills-ndt" role="tabpanel" aria-labelledby="v-pills-ndt-tab">
            <h3>Culture</h3>
            <p>Nathan Airchime works hard to promote a culture of respect, ethics, mutual respect in an atmosphere of goodwill. We're small enough to promote a collaborative work environment that is both casual and customer oriented. To that end, we offer flexible working hours, and, where possible, the option of remote work.</p>
          </div>
          <div class="tab-pane fade" id="v-pills-machining" role="tabpanel" aria-labelledby="v-pills-machining-tab">
            <h3>Training &amp; Mentorship</h3>
            <p> At Nathan Airchime, you benefit from our membership in the American Management Association and our connection with EWIB (Eastern Connecticut Workforce Investment Board) Our business is guided by input, insights and training from CONNSTEP – Connecticut's leading business consulting firm.</p>
          </div>
          <div class="tab-pane fade" id="v-pills-materials" role="tabpanel" aria-labelledby="v-pills-materials-tab">
            <h3>Benefits</h3>
            <p>We offer a wide range of important benefits:</p>
            <div class="row">
              <div class="col">
                <ul>
                  <li>Health Insurance</li>
                  <li>Vision Insurance</li>
                  <li>Tuition Reimbursement</li>
                  <li>Free Parking</li>
                </ul>
              </div>
              <div class="col">
                <ul>
                  <li>Dental Insurance</li>
                  <li>401k</li>
                  <li>Short- and long-term Disability Insurance</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>  
      
    <div class="col capsItemsm mt-4">  
      <!-- mobile accordion -->
      <div class="accordion" id="capabilitiesMobile">
        <div class="accordion-item">
          <h2 class="accordion-header" id="foundryhead">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#foundryOne" aria-expanded="true" aria-controls="foundryOne">
              Why Nathan Airchime?
            </button>
          </h2>
          <div id="foundryOne" class="accordion-collapse collapse show" aria-labelledby="foundryhead" data-bs-parent="#capabilitiesMobile">
            <div class="accordion-body">
              <p>Nathan Airchime is a company with a long history of success, an outstanding present, and a bright future. We are America’s largest producer of Airhorns &mdash; a critical component of railroad safety. We pride ourselves on providing you with opportunities for personal and professional growth and satisfaction. We encourage continuous improvement &mdash; for our products and our employees.</p>
              <p>At Nathan Airchime, we value a diverse, inclusive workforce and we provide equal employment opportunity for all applicants and employees. All qualified applicants for employment will be considered without regard to an individual’s race, color, sex, gender identity, gender expression, religion, age, national origin or ancestry, citizenship, physical or mental disability, medical condition, family care status, marital status, domestic partner status, sexual orientation, genetic information, military or veteran status, or any other basis protected by federal, state or local laws. If you are unable to submit your application because of incompatible assistive technology or a disability, please contact us at <a href="hr@nautilus.com" title="Contact HR" target="_blank">hr@nautilus.com</a>. Nathan Airchime will reasonably accommodate qualified individuals with disabilities to the extent required by applicable law.</p>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="upgradinghead">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#upgradingTwo" aria-expanded="false" aria-controls="upgradingTwo">
              Our Values
            </button>
          </h2>
          <div id="upgradingTwo" class="accordion-collapse collapse" aria-labelledby="upgradinghead" data-bs-parent="#capabilitiesMobile">
            <div class="accordion-body">
              <p>At Nathan Airchime, we're proud of our ability to provide precision products to customers with the highest level of expectations. We understand their importance – and to your contribution to their excellence.</p>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="ndthead">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#ndtThree" aria-expanded="false" aria-controls="ndtThree">
              Culture
            </button>
          </h2>
          <div id="ndtThree" class="accordion-collapse collapse" aria-labelledby="ndthead" data-bs-parent="#capabilitiesMobile">
            <div class="accordion-body">
              <p>Nathan Airchime works hard to promote a culture of respect, ethics, mutual respect in an atmosphere of goodwill. We're small enough to promote a collaborative work environment that is both casual and customer oriented. To that end, we offer flexible working hours, and, where possible, the option of remote work.</p>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="machininghead">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#machiningFour" aria-expanded="false" aria-controls="machininghead">
              Training &amp; Mentorship
            </button>
          </h2>
          <div id="machiningFour" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#capabilitiesMobile">
            <div class="accordion-body">
              <p>At Nathan Airchime, you benefit from our membership in the American Management Association and our connection with EWIB (Eastern Connecticut Workforce Investment Board) Our business is guided by input, insights and training from CONNSTEP – Connecticut's leading business consulting firm.</p>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="materialshead">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#materialsFive" aria-expanded="false" aria-controls="materialsFive">
              Benefits
            </button>
          </h2>
          <div id="materialsFive" class="accordion-collapse collapse" aria-labelledby="materialshead" data-bs-parent="#capabilitiesMobile">
            <div class="accordion-body">
              <p>We offer a wide range of important benefits:</p>
              <ul>
                <li>Health Insurance</li>
                <li>Vision Insurance</li>
                <li>Dental Insurance</li>
                <li>401k</li>
                <li>Short- and long-term Disability Insurance</li>
                <li>Tuition Reimbursement</li>
                <li>Free Parking</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      
    </div>
  </div>
</section>

<section class="afApplication py-5 mt-5">
  <div class="container mt-4">
  <div class="row">
    <div class="col-md-8 offset-md-2 text-center">
    <h1 class="h2">We'd love for you to join us</h1>
    <p class="mb-5 mt-4">As a subsidiary of Micro Precision, we share the same benefits and perks. We also share the same application system. The button below will take you to our team job manager. Once there just search for Nathan Airchime openings.</p>
    <p><a href="https://www.indeed.com/cmp/Prl-Inc.-1/jobs" target="_blank" rel="noopener nofollow" class="btn btn-primary btnondark opbtn">Open Positions <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="external-link-alt" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="svg-inline--fa fa-external-link-alt fa-w-16" style="max-width:1em;"><path fill="currentColor" d="M432,320H400a16,16,0,0,0-16,16V448H64V128H208a16,16,0,0,0,16-16V80a16,16,0,0,0-16-16H48A48,48,0,0,0,0,112V464a48,48,0,0,0,48,48H400a48,48,0,0,0,48-48V336A16,16,0,0,0,432,320ZM488,0h-128c-21.37,0-32.05,25.91-17,41l35.73,35.73L135,320.37a24,24,0,0,0,0,34L157.67,377a24,24,0,0,0,34,0L435.28,133.32,471,169c15,15,41,4.5,41-17V24A24,24,0,0,0,488,0Z" class=""></path></svg></a></p>
    </div>
  </div>
  </div>
</section>