---
titleTag: Career Opportunities at Nautilus Integrated Solutions, Inc.
pageName: Careers
description: We value a diverse, inclusive workforce and we provide equal employment opportunity for all applicants and employees.
pageClass: careersCap
pageSlug: careers/
layout: 'base.njk'
---
<section class="container contentLeadIn">
<div class="row">
  <div class="col-md-8 offset-md-2 text-center py-5">
      <h1 class="mb-3">We're always looking for talented people.</h1>
      <p>At Nautilus Integrated Solutions, Inc., we value a diverse, inclusive workforce and we provide equal employment opportunity for all applicants and employees. All qualified applicants for employment will be considered without regard to an individual’s race, color, sex, gender identity, gender expression, religion, age, national origin or ancestry, citizenship, physical or mental disability, medical condition, family care status, marital status, domestic partner status, sexual orientation, genetic information, military or veteran status, or any other basis protected by federal, state or local laws. If you are unable to submit your application because of incompatible assistive technology or a disability, please contact us at <a href="hr@nautilusis.com" title="Contact HR" target="_blank">hr@nautilusis.com</a>. Nautilus Integrated Solutions, Inc. will reasonably accommodate qualified individuals with disabilities to the extent required by applicable law.</p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <hr class="mainSep" size="6" />
    </div>
  </div>
</section>

<section class="container pb-5 mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6 col-lg-4 text-center px-3 px-md-4">
      <h3 class="fs-4 fw-bold">PRL</h3>
      <p>PRL is a leading employer in metals manufacturing in central Pennsylvania. We are a fully integrated producer (from melting, to upgrading and NDT, through finished machining) of the most complex castings and components in the nation.</p>
      <p><a href="https://workforcenow.adp.com/mascsr/default/mdf/recruitment/recruitment.html?cid=d460fe55-bb8d-4e4c-8b73-ddb917c9b996&ccId=19000101_000001&lang=en_US" rel="noopener nofollow" target="_blank" class="btn btn-primary opbtn mt-3 mb-5">Open Positions <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="external-link-alt" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="svg-inline--fa fa-external-link-alt fa-w-16" style="max-width:1em;"><path fill="currentColor" d="M432,320H400a16,16,0,0,0-16,16V448H64V128H208a16,16,0,0,0,16-16V80a16,16,0,0,0-16-16H48A48,48,0,0,0,0,112V464a48,48,0,0,0,48,48H400a48,48,0,0,0,48-48V336A16,16,0,0,0,432,320ZM488,0h-128c-21.37,0-32.05,25.91-17,41l35.73,35.73L135,320.37a24,24,0,0,0,0,34L157.67,377a24,24,0,0,0,34,0L435.28,133.32,471,169c15,15,41,4.5,41-17V24A24,24,0,0,0,488,0Z" class=""></path></svg></a></p>
    </div>
    <div class="col-md-6 col-lg-4 text-center px-3 px-md-4">
      <h3 class="fs-4 fw-bold">Micro Precision</h3>
      <p>Micro Precision specializes in large-scale machining, precision milling and turning, and multi-axis machining. We are Navy-approved and engage in Radiography, Magnetic Particle, Liquid Inspection and Hydrostatic Testing.</p>
      <p><a href="https://workforcenow.adp.com/mascsr/default/mdf/recruitment/recruitment.html?cid=d460fe55-bb8d-4e4c-8b73-ddb917c9b996&ccId=9200460692777_2&lang=en_US" rel="noopener nofollow" target="_blank" class="btn btn-primary opbtn mt-3 mb-5">Open Positions <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="external-link-alt" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="svg-inline--fa fa-external-link-alt fa-w-16" style="max-width:1em;"><path fill="currentColor" d="M432,320H400a16,16,0,0,0-16,16V448H64V128H208a16,16,0,0,0,16-16V80a16,16,0,0,0-16-16H48A48,48,0,0,0,0,112V464a48,48,0,0,0,48,48H400a48,48,0,0,0,48-48V336A16,16,0,0,0,432,320ZM488,0h-128c-21.37,0-32.05,25.91-17,41l35.73,35.73L135,320.37a24,24,0,0,0,0,34L157.67,377a24,24,0,0,0,34,0L435.28,133.32,471,169c15,15,41,4.5,41-17V24A24,24,0,0,0,488,0Z" class=""></path></svg></a></p>
    </div>
    <div class="col-md-6 col-lg-4 text-center px-3 px-md-4">
      <h3 class="fs-4 fw-bold">Nathan Airchime</h3>
      <p>Nathan Airchime is the world’s leading producer of railroad locomotive air horns and associated devices. Nathan Airchime is not only a successful sound signal devices supplier, but is on the forefront as a creator of audible warning devices.</p>
      <p><a href="https://workforcenow.adp.com/mascsr/default/mdf/recruitment/recruitment.html?cid=d460fe55-bb8d-4e4c-8b73-ddb917c9b996&ccId=9200460692777_2&lang=en_US" rel="noopener nofollow" target="_blank" class="btn btn-primary opbtn mt-3 mb-5">Open Positions <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="external-link-alt" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="svg-inline--fa fa-external-link-alt fa-w-16" style="max-width:1em;"><path fill="currentColor" d="M432,320H400a16,16,0,0,0-16,16V448H64V128H208a16,16,0,0,0,16-16V80a16,16,0,0,0-16-16H48A48,48,0,0,0,0,112V464a48,48,0,0,0,48,48H400a48,48,0,0,0,48-48V336A16,16,0,0,0,432,320ZM488,0h-128c-21.37,0-32.05,25.91-17,41l35.73,35.73L135,320.37a24,24,0,0,0,0,34L157.67,377a24,24,0,0,0,34,0L435.28,133.32,471,169c15,15,41,4.5,41-17V24A24,24,0,0,0,488,0Z" class=""></path></svg></a></p>
    </div>
  </div>
</section>