---
titleTag: Contact Nautilus Integrated Solutions and our Companies
pageName: Contact
description: Reach out to Nautilus Integrated Solutions for assistance. Contact our companies by phone, email or in person.
pageClass: contactCap
pageSlug: contact/
layout: 'base.njk'
---

<section class="container contentLeadIn">
<div class="row">
  <div class="col-md-8 offset-md-2 text-center py-5">
      <h1 class="mb-3">Nautilus Integrated Solutions is dedicated to bringing you precision casting, machining, installation, servicing, and testing.</h1>
      <p>Whatever your needs, whatever your specifications, whatever your run size, we stand by ready to assist you to meet your goals. Reach out to <a href="contact@nautilus.com" title="Contact Nautilus Integrated Solutions" target="_blank">contact@nautilus.com</a> for more information about what our manufacturing capabilities can deliver for you.</p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <hr class="mainSep" size="6" />
    </div>
  </div>
</section>

<section class="container pb-5 mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6 col-lg-4 text-center">
      <h3 class="fs-4 fw-bold">PRL</h3>
      <p class="contact_locations">64 Rexmont Road<br>Cornwall, Pennsylvania 17016</p>
      <p class="contact_locations"><strong>Email us:</strong> <a href="mailto:contact@prlinc.com" title="Contact PRL, Inc.">contact@prlinc.com</a><br><strong>Call us:</strong> <a href="tel:+17172736787">717.273.6787</a></p>

      <p><a href="https://www.prlinc.com/request-a-quote/" rel="noopener follow" target="_blank" class="btn btn-primary opbtn raq_btn mt-3 mb-5">Request a quote <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M0 256C0 397.4 114.6 512 256 512s256-114.6 256-256S397.4 0 256 0S0 114.6 0 256zM297 385c-9.4 9.4-24.6 9.4-33.9 0s-9.4-24.6 0-33.9l71-71L120 280c-13.3 0-24-10.7-24-24s10.7-24 24-24l214.1 0-71-71c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0L409 239c9.4 9.4 9.4 24.6 0 33.9L297 385z"/></svg></a></p>
    </div>
    <div class="col-md-6 col-lg-4 text-center px-3 px-md-4">
      <h3 class="fs-4 fw-bold">Micro Precision</h3>
      <p class="contact_locations">1102 Windham Rd., PO Box 96<br>South Windham, Connecticut 06266</p>
      <p class="contact_locations"><strong>Email us:</strong> <a href="mailto:contact@microprecisiongroup.com" title="Contact Micro Precision">contact@microprecisiongroup.com</a><br><strong>Call us:</strong> <a href="tel:+18604234575">860.423.4575</a></p>
      
      <p><a href="https://microprecisiongroup.com/request-a-quote/" rel="noopener follow" target="_blank" class="btn btn-primary opbtn raq_btn mt-3 mb-5">Request a quote <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M0 256C0 397.4 114.6 512 256 512s256-114.6 256-256S397.4 0 256 0S0 114.6 0 256zM297 385c-9.4 9.4-24.6 9.4-33.9 0s-9.4-24.6 0-33.9l71-71L120 280c-13.3 0-24-10.7-24-24s10.7-24 24-24l214.1 0-71-71c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0L409 239c9.4 9.4 9.4 24.6 0 33.9L297 385z"/></svg></a></p>
    </div>
    <div class="col-md-6 col-lg-4 text-center px-3 px-md-4">
      <h3 class="fs-4 fw-bold">Nathan Airchime</h3>
      <p class="contact_locations">1102 Windham Rd., PO Box 96<br>South Windham, Connecticut 06266</p>
      <p class="contact_locations"><strong>Email us:</strong> <a href="mailto:contact@nathanairchime.com" title="Contact Nathan Airchime">contact@nathanairchime.com</a><br><strong>Call us:</strong> <a href="tel:+18604234575">860.423.4575</a></p>
      
      <p><a href="https://nathanairchime.com/request-a-quote/" rel="noopener follow" target="_blank" class="btn btn-primary opbtn raq_btn mt-3 mb-5">Request a quote <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M0 256C0 397.4 114.6 512 256 512s256-114.6 256-256S397.4 0 256 0S0 114.6 0 256zM297 385c-9.4 9.4-24.6 9.4-33.9 0s-9.4-24.6 0-33.9l71-71L120 280c-13.3 0-24-10.7-24-24s10.7-24 24-24l214.1 0-71-71c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0L409 239c9.4 9.4 9.4 24.6 0 33.9L297 385z"/></svg></a></p>
    </div>
  </div>
</section>
<section class="contact_joinourteam_cta py-5 mt-5">
  <div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-md-8 text-center">
    <h1 class="h2 text-white">Are you passionate about precision?</h1>
    <p class="mb-5 mt-4 text-white">We are always looking for talented people to join our team with manufacturing experience: Casting, Machining, Installation, Servicing, and Testing.</p>
    <p><a href="/careers/" class="btn btn-primary btnondark">Join Our Team</a></p>
    </div>
  </div>
  </div>
</section>