---
titleTag: Foundry | High Integrity Castings for Clients Whose Needs Have No Margin For Error
pageName: Foundry
description: We are a completely integrated firm with the ability to provide fully upgraded, inspected and finished machined castings.
pageClass: capabilitySingle foundryHeader
pageSlug: foundry/
layout: 'base.njk'
---

<section class="container pt-5 pb-3">
  <div class="row justify-content-center pt-0 pt-md-4">
    <div class="col-md-6 col-lg-4 pe-4">
      <h2>High integrity castings for clients whose needs have no margin for error.</h2>
      <hr class="mainSep my-4" size="6">
      <p>We are proud of our distinguished history — one that we’ve achieved by our dedication to precision to meet the requirements of the most rigorous sectors around the world. We are a completely integrated firm with the ability to provide fully upgraded, inspected and finished machined castings.</p>
    </div>
    <div class="col-md-6 col-lg-5 offset-lg-1 mt-4 mt-md-0">
      <h5 class="mb-3">Our dedicated foundry is able to handle:</h5>
      <ul>
        <li>Castings up to 12,000 pounds</li>
        <li>AOD casting vessel with 18,500-pound capacity</li>
        <li>In-house laboratory</li>
        <li>MAGMASOFT<sup>&reg;</sup> simulation and design support</li>
        <li>NAVSEA approved welding procedures</li>
      </ul>
      <h5 class="mb-3 mt-5">Materials</h5>
      <ul>
        <li>Martensitic stainless steel</li>
        <li>Copper nickel</li>
        <li>Stainless Steel</li>
        <li>Carbon Steel</li>
        <li>Inconel</li>
      </ul>
    </div>
  </div>
</section>

{% include './_includes/raq.njk' %}