---
titleTag: Machining | Full Service, Manual and CNC Capabilities 
pageName: Machining
description: We supply critical parts and assemblies to the U.S. Department of Defense, the U.S. Navy's Nuclear and Submarine fleet. We are short-run specialists, delivered in a timely manner.
pageClass: capabilitySingle machiningHeader
pageSlug: machining/
layout: 'base.njk'
---

<section class="container pt-5 pb-3">
  <div class="row justify-content-center pt-0 pt-md-4">
  <div class="col-md-6 col-lg-4 pe-4">
      <h2>Building mission-critical parts, no matter how small.</h2>
      <hr class="mainSep my-4" size="6">
      <p>We supply critical parts and assemblies to the U.S. Department of Defense, the U.S. Navy’s Nuclear and Submarine fleet. We are short-run specialists, delivered in a timely manner.</p>
    </div>
    <div class="col-md-6 col-lg-5 offset-lg-1 mt-4 mt-md-0">
      <h5 class="mb-3">Precisely what you need</h5>
      <ul>
        <li>We specialize in tight tolerance, complex geometries</li>
        <li>We provide full service, Manual and CNC capabilities</li>
      </ul>
      <h5 class="mb-3 mt-5">Our specialties include</h5>
      <ul>
        <li>Vertical and horizontal CNC milling</li>
        <li>Vertical turning</li>
        <li>Horizontal turning</li>
        <li>Small to large scale</li>
      </ul>
      <h5 class="mb-3 mt-5">Our machining materials include</h5>
      <ul>
        <li>Aluminum alloys</li>
        <li>Copper alloys</li>
        <li>Nickel aluminum bronze</li>
        <li>Stainless steel</li>
        <li>Cast iron</li>
        <li>Nickel copper alloys</li>
      </ul>
    </div>
  </div>
</section>

{% include './_includes/raq.njk' %}