---
titleTag: Upgrading | Heat Treating, Welding & Fabrication, Grinding, Inspection
pageName: Upgrading
description: Our upgrading services are of the highest standards, and meet the rigorous needs of our distinguished prime contractors.
pageClass: capabilitySingle upgradingHeader
pageSlug: upgrading/
layout: 'base.njk'
---

<section class="container pt-5 pb-3">
  <div class="row justify-content-center pt-0 pt-md-4">
    <div class="col-md-6 col-lg-4 pe-4">
      <h2>Meeting your demands with meticulous dedication.</h2>
      <hr class="mainSep my-4" size="6">
      <p>Our upgrading services are of the highest standards, and meet the rigorous needs of our distinguished prime contractors.</p>
    </div>
    <div class="col-md-6 col-lg-5 offset-lg-1 mt-4 mt-md-0">
      <h5 class="mb-3">Our upgrading capabilities include</h5>
      <ul>
        <li>Heat treating in one of several furnace sizes to meet your exacting requirements</li>
        <li>Welding and fabrication to meet all forms of contemporary needs</li>
        <li>Grinding to meet the most exacting tolerances</li>
        <li>Inspection conducted by certified, experienced, and dedicated personnel</li>
      </ul>
    </div>
  </div>
</section>

{% include './_includes/raq.njk' %}